
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.login1{

    background-image: url('./assets/5153829.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: content-box;

}